<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= htmlWebpackPlugin.options.title
    body
        .wrapper
            h1 Quemador de calorias
            p.results#results
            button.burn#burn go

        //- ShorthandPropertyName
        //- .app
        //-     p
        //-         strong Precios:
        //-         span#price
        //-     p
        //-         strong Precios oferta:
        //-         span#offer
        //-     p
        //-         strong Precios Final:
        //-         span#final-price
        //-     button#make-offer.button Regatear