<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= htmlWebpackPlugin.options.title
    body
        .app
            p
                strong Precio:
                span#price
            p
                strong Precio oferta:
                span#offer
            p
                strong Precio Final:
                span#final-price
            button#make-offer.button Regatear